<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <center>
      <h1>Search Pokemon by id, name, type</h1>
      <input type="text" id="query" onchange="updateSearch(this.value)" autofocus> <br><br>
      <div id="results">
        no results
      </div>
    </center>
  </body>
</html>
